ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  
  .button[data-button-type="button-delete"] {
    display: flex;
    background: none;
    color: rgb(156, 156, 156);
    cursor: pointer;
  }